:root {
  /* for defining variables only! */
  /* --background: linear-gradient(to top, white 0%, black 50%, white 100%); */
  --background: #ff9143;
  --nav-font-size: 1.2rem;
}

* {
  font-family: sans-serif;
  margin: 0;
  /* height: 100%; */
}

body{
  background-color: white;
  z-index: -1;
}

img{
  border-radius: 50%;
  height: 20vh;
  width:20vh;


}

#nav {
  top: 0;
  position: fixed;
  display: block;
  width: 100vw;
  color: white;
  /* background-color: red; */
  background-color: var(--background);
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.3);
  font-size: var(--nav-font-size);
  height: 60px;
  /* position: fixed; */
  z-index: 10;
}

#nav>a, .dropdown>a {
  color: white;
  top: 1.9vh;
}

#nav>a, #nav-login, .dropdown>a {
  position: relative;
  padding: 7px 30px 7px 30px;
  margin: 0 5px 0 5px;
  border-radius: 5px;
}

#nav>a, #nav-login>a, .dropdown>a {
  text-decoration: none;
}

#nav-login {
  float: right;
  top: 0.75vh;
  /* padding-top: 10px; */
  /* background-color: blue; */
  color: white;
  height: calc(var(--nav-font-size) + 1px);
}

#nav>a:hover, .dropdown>a:hover {
  background-color: black;
  color: white;
}

#nav>a.active, .dropdown>a.active {
  background-color: white;
  color: black;
}
.dropdown {
  position: relative;
  display: inline-block;
  float: none;
  height: 10px;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: ;
  min-width: 120px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 9px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: black;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: black;
}
#mobile-nav {
  display: none;
}

#mobile-nav>a {
  /* margin-left: calc() */
}

#logo{
  position: fixed;
  top: 50%;
  right: 40%;
  left: 40%;
}

#test {
  margin-top: 75px;
}

.hidden {
  display: none;
  visibility: hidden;
}

#account:hover {
  cursor: pointer;
}



/* mobile friendly */
@media only screen and (max-width: 500px) {

  #nav {
    display: none;
  }

  #mobile-nav {
    display: block;
    /* background: var(--background); */
    border-right: 1px solid #e5e5e5;
    position: fixed;
    margin: 0;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
  }

}
