:root {
  /* for defining variables only! */
  /* --background: linear-gradient(to top, white 0%, black 50%, white 100%); */
  --background: #ff9143;
  --nav-font-size: 1.2rem;
}

* {
  font-family: sans-serif;
  margin: 0;
  /* height: 100%; */
}

body{
  background-color: var(--background);
  z-index: -1;
}

#nav {
  top: 0;
  position: fixed;
  display: block;
  width: 100vw;
  color: white;
  /* background-color: red; */
  background-color: var(--background);
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.3);
  font-size: var(--nav-font-size);
  height: 60px;
  /* position: fixed; */
  z-index: 10;
}

#nav>a {
  color: white;
  top: 1.9vh;
}

#nav>a, #nav-login {
  position: relative;
  padding: 7px 30px 7px 30px;
  margin: 0 5px 0 5px;
  border-radius: 5px;
}

#nav>a, #nav-login>a {
  text-decoration: none;
}

#nav-login {
  float: right;
  top: 0.75vh;
  /* padding-top: 10px; */
  /* background-color: blue; */
  color: white;
  height: calc(var(--nav-font-size) + 1px);
}

#nav>a:hover {
  background-color: black;
  color: white;
}

#nav>a.active {
  background-color: white;
  color: black;
}

#mobile-nav {
  display: none;
}

#mobile-nav>a {
  /* margin-left: calc() */
}

#logo{
  position: fixed;
  top: 50%;
  right: 40%;
  left: 40%;
}

#test {
  margin-top: 75px;
}

#login-modal {
  position: absolute;
  top: calc(50% - 35vh);
  left: calc(50% - 30vw);
  height: 70vh;
  width: 60vw;
  background-color: #fff;
}

#login-modal>form {
  position: inherit;
  width: 80%;
  height: 60%;
  top: 30%;
  left: 10%;
}

#login-modal>h1 {
  display: block;
  positon: inherit;
  text-align: center;
  padding-top: 5%;
}

#login-modal > form > input {
  display: inline-block;
  margin-left: 5px;

  border: 20px solid light-blue;
}

.hidden {
  display: none;
}

#close {
  position: absolute;
  left: calc(100% - 35px);
  top: 10px;
  border-radius: 100px;
  border: none;
  background-color: rgb(200, 200, 200);
  width: 25px;
  height: 25px;
  font-size: 1rem;
  color: rgba(120, 120, 120, 0.95);
  cursor: pointer;
  outline: none;
}

form {
  text-align: center;
}

label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}

label .label-text {
  color: #9B9B9B;
  cursor: text;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  transition: all 0.3s;
}

label input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  color: var(--background);
  font-size: 36px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 60%;
}

label input:focus {
  max-width: 100%;
  width: 80%;
}

label input:focus + .label-text {
  color: #F0F0F0;
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

label input:valid + .label-text {
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

#submit {
  background-color: #333333;
  border: 2px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
}

#submit:hover, #submit:focus {
  background-color: white;
  color: #333333;
  outline: 0;
}

/* mobile friendly */
@media only screen and (max-width: 500px) {

  #nav {
    display: none;
  }

  #mobile-nav {
    display: block;
    /* background: var(--background); */
    border-right: 1px solid #e5e5e5;
    position: fixed;
    margin: 0;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
  }

}
