#main{
  position: absolute;
  top: 15vh;
  left: 20vw;
  width: 60vw;
  height: 85vh;
  justify-content: center;
  text-align: center;

}

/* #password{
  margin-top: 80px;
  text-align: center;
  left: 10px;
} */

/* #email{
  margin-top: 170px;
  text-align: center;
  left: 10px;
} */

h1{
  margin-top: 20px;
  font-size: 3.5rem;
}

h2{
    margin-top: 25px;
    font-size: 1rem
}
label {
  /* position: absolute;
  top: 15vh; */
  /* left: 20vw; */
  width: 60vw;
  /* height: 85vh; */
  /* font-size: 2rem; */
}

label>input {
  display: block; /* forces input onto next line */
  margin-top: 15px;
  border: 0;
  border-bottom: 2px solid var(--background);
  /* width: 300px; */
  height: auto;
  font-size: 20px;
  /* text-align: center; */
  outline: 0;
  transition: width 0.2s ease-in-out;
}



label>input:focus {
  width: 375px;
}

label>input:valid {
  border-bottom-color: orange;
}

label>input:focus:invalid {
  border-bottom-color: #f11;
}
